asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
django-prometheus==2.3.1
djangorestframework==3.16.0
idna==3.10
prometheus_client==0.21.1
psutil==7.0.0
psycopg2==2.9.10
python-json-logger==3.3.0
requests==2.32.3
sqlparse==0.5.3
urllib3==2.4.0
